$my-purple-palette: (
    50 : #edeaf4,
    100 : #d1cae5,
    200 : #b3a7d3,
    300 : #9583c1,
    400 : #7e69b4,
    500 : #674ea7,
    600 : #5f479f,
    700 : #543d96,
    800 : #4a358c,
    900 : #39257c,
    A100 : #cbbdff,
    A200 : #a28aff,
    A400 : #7a57ff,
    A700 : #663dff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$my-brown-palette: (
    50 : #f1eee2,
    100 : #ddd4b7,
    200 : #c7b788,
    300 : #b09a58,
    400 : #9f8534,
    500 : #8e6f10,
    600 : #86670e,
    700 : #7b5c0c,
    800 : #715209,
    900 : #5f4005,
    A100 : #ffd391,
    A200 : #ffbf5e,
    A400 : #ffaa2b,
    A700 : #ffa011,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

